/* Reset CSS */
* {
    box-sizing: border-box;
}
/* Style */
.url
a {
 display: block;
 padding: 10px 10px;
 color: #ffffff;
 background-color: #283748;
 border-radius: 5px;
 }
 a:hover {
 background-color: rgb(127, 187, 255);
 color: #283748;
 }
body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b8b8b8;
}

nav {
   float:inline-start;
   width: 30%;
   max-width: 1200px;
   padding: 50px;
   background-color:rgb(255, 255, 255);
}

article {
    float:inline-end;
    max-width: 1200px;
    padding: 20px;
    width: 70%;
    background-color: #ffffff;
}

/* Clearfix para limpiar el float */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - Media Queries */
@media only screen and (max-width: 768px) {
    article {
        width: 100%; /* Ocupar todo el ancho en pantallas más pequeñas */
        margin: 10px 0; /* Reducir el margen vertical */
    }
    article img {
      display: block;  /* comportamiento del elemento sea como un bloque */
  }
}
