/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style */
.url
 a {
 padding: 10px;
 color: #ffffff;
 background-color: #283748;
 }
 a:hover {
 background-color: rgb(255, 255, 255);
 color: #000000;
 }
 body {
    font-family: Arial, sans-serif;
}

 header, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9b9b9b;
    color:white;
}

/* display:flex - menú en línea con espacios */
 nav {
    display: flex;
    justify-content:space-evenly; /* Muestra elementos con la misma separación alrededor de ellos */
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    background-color: rgb(201, 201, 201);
    padding: 20px;
 }

 nav ul {
    list-style-type: none;
}

/* display: inline-block - Respeta los márgenes/paddings superiores e inferiores */
 nav ul li {
    display: inline-block;
    margin-right: 20px;
}

 nav ul li a {
    text-decoration: none;
    color: #333;
}

 article {
    width: 1200px;
    height: 380px;
    margin: 0 auto;
    padding: 20px;
    color:#000000;
    background-color: rgb(245, 245, 245);
}

  article img {
    display:inline-block; /* Respeta los paddings superiores e inferiores */
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 60px;
}

  section::after {
   content: "";
   display: table;
   clear: both;
}

/* Ejercicio 7: Diseño Responsive con Media Queries */
/* Responsive layout - Media Queries 768px */
@media only screen and (max-width: 768px) {
  section {
     display:inline-block;
     width: 100%; /* Ocupar todo el ancho en pantallas más pequeñas */
     margin: 0px; /* Reducir el margen vertical */
  }

  article img {
     display: flex;
     justify-content:space-evenly; /* Muestra elementos con la misma separación alrededor de ellos */
  }

  /* a 600px conserva el ancho de 1200px */
  header, footer {
     width: 1200px;
  }
  /* a 600px cambio color a blanco */
  nav {
    background-color: #ffffff;
 }
}
